.idea/
.gradle/
build/
obj/
*.iml
local.properties
*.keystore
gradle.properties

TMessagesProj/src/main/java/org/telegram/messenger/BuildVars.java
TMessagesProj/.externalNativeBuild/ndkBuild/afatDebug/arm64-v8a/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/afatDebug/arm64-v8a/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/afatDebug/arm64-v8a/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/afatDebug/armeabi-v7a/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/afatDebug/armeabi-v7a/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/afatDebug/armeabi-v7a/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/afatDebug/x86/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/afatDebug/x86/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/afatDebug/x86/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/afatDebug/x86_64/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/afatDebug/x86_64/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/afatDebug/x86_64/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/afatFoss/arm64-v8a/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/afatFoss/arm64-v8a/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/afatFoss/arm64-v8a/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/afatFoss/armeabi-v7a/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/afatFoss/armeabi-v7a/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/afatFoss/armeabi-v7a/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/afatFoss/x86/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/afatFoss/x86/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/afatFoss/x86/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/afatFoss/x86_64/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/afatFoss/x86_64/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/afatFoss/x86_64/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/afatRelease/arm64-v8a/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/afatRelease/arm64-v8a/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/afatRelease/arm64-v8a/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/afatRelease/armeabi-v7a/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/afatRelease/armeabi-v7a/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/afatRelease/armeabi-v7a/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/afatRelease/x86/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/afatRelease/x86/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/afatRelease/x86/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/afatRelease/x86_64/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/afatRelease/x86_64/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/afatRelease/x86_64/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/arm64_SDK23Debug/arm64-v8a/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/arm64_SDK23Debug/arm64-v8a/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/arm64_SDK23Debug/arm64-v8a/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/arm64_SDK23Foss/arm64-v8a/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/arm64_SDK23Foss/arm64-v8a/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/arm64_SDK23Foss/arm64-v8a/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/arm64_SDK23Release/arm64-v8a/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/arm64_SDK23Release/arm64-v8a/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/arm64_SDK23Release/arm64-v8a/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/arm64Debug/arm64-v8a/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/arm64Debug/arm64-v8a/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/arm64Debug/arm64-v8a/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/arm64Foss/arm64-v8a/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/arm64Foss/arm64-v8a/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/arm64Foss/arm64-v8a/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/arm64Release/arm64-v8a/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/arm64Release/arm64-v8a/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/arm64Release/arm64-v8a/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/armv7_SDK23Debug/armeabi-v7a/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/armv7_SDK23Debug/armeabi-v7a/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/armv7_SDK23Debug/armeabi-v7a/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/armv7_SDK23Foss/armeabi-v7a/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/armv7_SDK23Foss/armeabi-v7a/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/armv7_SDK23Foss/armeabi-v7a/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/armv7_SDK23Release/armeabi-v7a/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/armv7_SDK23Release/armeabi-v7a/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/armv7_SDK23Release/armeabi-v7a/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/armv7Debug/armeabi-v7a/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/armv7Debug/armeabi-v7a/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/armv7Debug/armeabi-v7a/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/armv7Foss/armeabi-v7a/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/armv7Foss/armeabi-v7a/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/armv7Foss/armeabi-v7a/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/armv7Release/armeabi-v7a/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/armv7Release/armeabi-v7a/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/armv7Release/armeabi-v7a/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x64_SDK23Debug/x86_64/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/x64_SDK23Debug/x86_64/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x64_SDK23Debug/x86_64/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x64_SDK23Foss/x86_64/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/x64_SDK23Foss/x86_64/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x64_SDK23Foss/x86_64/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x64_SDK23Release/x86_64/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/x64_SDK23Release/x86_64/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x64_SDK23Release/x86_64/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x64Debug/x86_64/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/x64Debug/x86_64/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x64Debug/x86_64/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x64Foss/x86_64/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/x64Foss/x86_64/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x64Foss/x86_64/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x64Release/x86_64/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/x64Release/x86_64/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x64Release/x86_64/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x86_SDK23Debug/x86/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/x86_SDK23Debug/x86/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x86_SDK23Debug/x86/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x86_SDK23Foss/x86/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/x86_SDK23Foss/x86/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x86_SDK23Foss/x86/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x86_SDK23Release/x86/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/x86_SDK23Release/x86/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x86_SDK23Release/x86/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x86Debug/x86/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/x86Debug/x86/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x86Debug/x86/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x86Foss/x86/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/x86Foss/x86/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x86Foss/x86/ndkBuild_build_output.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x86Release/x86/android_gradle_build.json
TMessagesProj/.externalNativeBuild/ndkBuild/x86Release/x86/ndkBuild_build_command.txt
TMessagesProj/.externalNativeBuild/ndkBuild/x86Release/x86/ndkBuild_build_output.txt
